@use 'sass:math'
@use 'sass:color'

@import config
@import 'blocks/**/*'

body
    position: relative1
    width: 100vw
    height: 100vh

.header
    position: fixed
    top: 0
    left: 0
    width: 100%
    min-height: 5vh
    padding: 13px 1.7vw 0 1.7vw
    z-index: 50

.header-logo
    display: inline-flex
    align-items: center
    margin-left: auto

.logo
    &-image img
        width: 4.1vw
        height: 4.1vw
        min-width: 79px
        min-height: 79px
    &-text
        font-family: 'Oswald', sans-serif
        font-size: max(1.05vw, 20px)
        font-weight: 200
        letter-spacing: .02em
        line-height: 1
        text-shadow: 1px 1px 2px #fff3, -1px -1px 2px #fff3, 1px -1px 2px #fff3, -1px 1px 2px #fff3

@media (max-width: 768.98px) and (orientation: portrait)
    .header
        padding-top: 10px

@media (max-width: 768.98px)
//     .header-logo
//         align-items: flex-start

.main
    width: 100%
    height: 100%
    .lead
        text-align: center
        margin-bottom: 10px
        span
            color: var(--color-gold)
.swiper
    width: 100%
    height: 100%
    &-container
        height: 70%
    &-slide
        width: 30%
        height: 95%
.swiper-horizontal>.swiper-pagination-bullets
    bottom: -3px
.swiper-pagination-bullet-active
    transform: scale(1.4)

@media (min-width: 1024px)
    .swiper
        position: absolute
        top: 0
        visibility: hidden
        &-container
            margin-bottom: 5vh
    .lead
        font-family: 'Oswald', sans-serif
        font-size: max(2.4vw, 47px)
        font-weight: 400
@media (max-width: 1023.98px)
    .logo-text
        letter-spacing: normal
        font-size: 18.5px
    .main
        h1
            font-size: 36px
    .lead
        font-size: 24px
        white-space: pre-line
@media (min-width: 768px)
    .main
        h1
            white-space: pre-line

@media (min-width: 576px)
    .main
        h1 br
            display: none
@media (max-width: 575.98px)
    .main
        h1
            font-size: 0
            span.main-mb
                font-size: 36px
    .lead
        white-space: pre-line
        font-size: 16px

.card
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    min-width: 300px
    max-width: 380px
    user-select: none
    &-wrapper
        display: none
    &-rating
        display: flex
        gap: 7px
        svg
            width: 1.5vh
            height: 1.5vh
    &-items
    &-price
        margin-top: auto
        p
            font-family: 'Oswald', sans-serif
        &-old
            font-size: max(1.27vw, 24px)
            letter-spacing: 0.03em
            font-weight: 300
            margin-bottom: 0
            text-decoration: line-through
        .title
                
    &-solo
        background-color: #eff0f2
    &-personal
        background-color: #c9b493
        .title, .card-rating
            color: var(--color-white)
        
    &-vip
        color: #c7ac82
        background-color: #171a29
        h2
            color: var(--color-gold)
        dd
            color: var(--color-white)
        .title
            color: var(--color-gold)
    .btn
        font-family: 'Oswald', sans-serif
        font-size: max(1.27vw, 25px)
        font-weight: 400
    &:first-child .btn
        &:hover
            background-color: #eff0f2
    &:nth-child(even) .btn
        color: #c5b08f
        background-color: #1a1d34
        border: 1px solid #1a1d34
        &:hover
            color: #1a1d34
            background-color: var(--color-gold)
@media (min-width: 1600px)
    .main
        padding-top: 12.7vh
    .card
        padding: 5% 5px 6% 5px
        &-rating
            margin-bottom: 4vh
@media (min-width: 1024px)
    .main
        padding-top: 7vh
    .card
        width: 100%
        padding: 4% 5px
        &-rating
            margin-bottom: 3vh
        &-wrapper
            display: flex
            justify-content: center
            margin-left: auto
            margin-right: auto
            gap: 20px
            max-width: 79%
@media (max-width: 1023px)
    .main
        padding-top: 50px
    .card
        padding: 39px 5px 50px 5px

.solo .modal
    background-color: #EFF0F2
.personal .modal
    background-color: #C9B493
.vip .modal
    background-color: #171A27
.modal-wrapper.solo,
.modal-wrapper.vip,
.modal-wrapper.personal
    display: flex
    opacity: 1
    animation: slidein .5s ease 1
@keyframes slidein
    from
        opacity: 0
    to
        opacity: 1
.solo .modal-form.script-solo,
.personal .modal-form.script-personal,
.vip .modal-form.script-vip
    display: block

.svg-star
    display: none
.solo .svg-star.svg-solo,
.personal .svg-star.svg-personal,
.vip .svg-star.svg-vip
    display: block
.modal-wrapper.solo
    background: #EFF0F240
.modal-wrapper.personal
    background: #C9B49350
.modal-wrapper.vip
    background: #171A2770
    .modal-close svg
        color: var(--color-gold)
    .modal-tarif
        color: #ffffff

.modal
    position: relative
    display: flex
    flex-direction: column
    padding: 52px 40px 75px
    // box-shadow: 0px 0px 25px #fff9
    filter: drop-shadow(0px 0px 25px #ffffff99)
    &-wrapper
        position: absolute
        top: 0
        left: 0
        display: none
        opacity: 0
        transition: .5s
        justify-content: center
        align-items: center
        width: 100vw
        height: 100vh
        backdrop-filter: blur(9px)
        z-index: 100
    &-desc
        display: flex
        flex-direction: column
        align-items: center
        flex: 1 1 50%
        text-align: center
        user-select: none
        p
            white-space: pre-line
    &-part
        margin-bottom: 0px
    &-tarif
        line-height: 1.4
    &-form
        display: none
        flex: 1 1 50%
    &-close
        position: absolute
        top: 20px
        right: 20px
        display: flex
        justify-content: center
        align-items: center
        width: 30px
        height: 30px
        cursor: pointer
        z-index: 101
        // filter: drop-shadow( 1px 1px 2px #eff0f2b3)
        svg
            width: 20px
            height: 20px
            // filter: drop-shadow( 1px 1px 2px #eff0f2b3)
@media (max-width: 1023.98px) and (orientation: landscape)
    .modal
        flex-direction: row
        gap: 20px
        padding: 52px 40px 75px
@media (min-width: 1024px)
    .modal
        h2
            font-size: max(1.4vw, 38px)
        &-tarif
            font-size: max(1vw, 20px)
        .card
            &-rating
                margin-bottom: 2vh
@media (max-width: 1023.98px)
    .modal
        h2
            font-size: 32px

.modal-form
    button
        font-family: Oswald,sans-serif !important
        font-size: max(1.27vw,25px) !important
        font-weight: 400 !important
        color: #272A41 !important
        background-color: #C9B493 !important
    a
        color: #003399 !important
    .strwf__input-wrapper
        margin-bottom: 7px !important
    input[type=checkbox]
        width: 20px !important
        height: 20px !important
        color: #000 !important
        background-color: #fff !important
    input[type=checkbox]:checked
        color: #fff !important
        background-color: #000 !important
    &.script
        &-solo
            form, input, section
                background-color: #EFF0F2 !important
            input, section
                border-color: #ffffff !important
        &-personal
            form, input, section
                background-color: #C9B493 !important
            input
                border-color: #272A41 !important
            button
                color: #C9B493  !important
                background-color: #272A41 !important
        &-vip
            form, input, section, select, label
                color: #ffffff !important
                background-color: #171A27 !important
            input
                border-color: #FFFFFF !important

