@use 'sass:math'
@use 'sass:color'

@import config
@import 'blocks/**/*'

body
    position: relative1
    width: 100vw
    height: 100vh
    min-height: 670px

.header
    position: fixed
    top: 0
    left: 0
    width: 100%
    min-height: 5vh
    padding: 13px 1.7vw 0 1.7vw
    z-index: 50
    &-logo
        display: inline-flex
        align-items: center
        margin-left: auto

.logo
    &-image img
        width: 4.1vw
        height: 4.1vw
        min-width: 79px
        min-height: 79px
    &-text
        font-family: 'Oswald', sans-serif
        font-size: max(1.05vw, 20px)
        font-weight: 200
        letter-spacing: .02em
        line-height: 1
        text-shadow: 1px 1px 2px #fff3, -1px -1px 2px #fff3, 1px -1px 2px #fff3, -1px 1px 2px #fff3

@media (max-width: 768.98px) and (orientation: portrait)
    .header
        padding-top: 10px

@media (max-width: 768.98px)
    .logo-tariff
        display: none

.tariff
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    // height: 100%
    .lead
        letter-spacing: .01em
        text-align: center
        margin-bottom: 10px
        color: var(--color-title)
        span
            color: var(--color-gold)
    h2
        line-height: 1
    h2, h3
        text-align: center
        span:not(.tariff-mb)
            color: var(--color-card-gold-btn)
        span.tariff-mb
            color: var(--color-text)
    h3, .value
        font-family: 'Oswald', sans-serif
        font-size: max(2.4vw, 47px)
        font-weight: 400
        line-height: 1.2
        margin-bottom: 3vh
        color: var(--color-title)
.modal-wrapper
    h4
        font-family: 'Oswald', sans-serif
        font-weight: 400
        line-height: 1.1
        letter-spacing: .02em
        margin-bottom: 1em
@media (min-width: 1600px)
    // h2
    //     font-size: max(2.4vw, 47px)
    .tariff, .modal-wrapper
        h3, .value
            font-size: max(1.33vw, 35px)
            margin-bottom: 2vh
        h4
            font-size: max(1.0vw, 24px)
            margin-bottom: 2vh

@media (min-width: 1024px)
    .modal-wrapper .modal
        .value
            font-size: max(1.33vw, 35px)
    // h2
    //     font-size: max(3.37vw, 45.5px)
    //     line-height: 1.1
    //     margin-bottom: 3.2vh
    .tariff, .modal-wrapper
        h3
            font-size: max(1.6vw, 42px)
@media (min-width: 768px) and (min-height: 768px)
    .tariff
        height: 100%
@media (max-width: 1023px)
    // h2
    //     font-size: 54px
    //     margin-bottom: 20px
    .tariff, .modal-wrapper
        h3
            font-size: 41px
            margin-bottom: 30px
        .modal .value, .card .value
            font-size: 30px
    .tariff
        padding-top: 10px

@media (max-width: 767px)
    .tariff, .modal-wrapper
        h3
            margin-bottom: 34px
            font-size: 44px
    .tariff
        width: 90%
        margin-left: auto
        margin-right: auto

@media (max-width: 476px)
    // h2
    //     font-size: 44.5px

@media (max-width: 477px)
    .tariff, .modal-wrapper
        h3
            font-size: 38px
.swiper
    width: 100%
    height: 100%
    padding-bottom: 40px
    &-container
        width: 100%
        max-width: 100%
    &-wrapper
        height: auto
    &-slide
        width: 30%
        height: auto
.swiper-horizontal>.swiper-pagination-bullets
    bottom: 0px
.swiper-pagination-bullet-active
    transform: scale(1.4)

@media (min-width: 1024px)
    .swiper
        position: absolute
        top: 0
        visibility: hidden
        &-container
            margin-bottom: 5vh
    .lead
        font-family: 'Oswald', sans-serif
        font-size: max(1.3vw, 32px)
        font-weight: 400
@media (max-width: 1023.98px)
    .logo-text
        letter-spacing: normal
        font-size: 18.5px
    .tariff
        h2
            font-size: 36px
    .lead
        font-size: 24px
        white-space: pre-line
@media (min-width: 768px)
    .tariff
        h2
            white-space: pre-line

@media (min-width: 576px)
    .tariff
        h2 br
            display: none
@media (max-width: 575.98px)
    .tariff
        h2
            font-size: 0
            span.tariff-mb
                font-size: 36px
    .lead
        white-space: pre-line
        font-size: 16px

.card
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    width: 100%
    max-width: 22vw
    min-width: 320px
    .btn
        color: var(--color-text)
        &:hover
            color: var(--color-white)
    &-wrapper
        display: none
    &-rating
        display: flex
        gap: 7px
        color: var(--color-gold)
        svg
            width: 12px
            height: 12px
    &-items
    &-price
        margin-top: auto
        p
            font-family: 'Oswald', sans-serif
        &-old
            font-size: max(1.27vw, 24px)
            letter-spacing: 0.03em
            font-weight: 300
            margin-bottom: 0
            text-decoration: line-through
            color: var(--color-card-text-black)
        .value
    &-solo
        background-color: var(--color-card-silver)
        dd, h3
            color: var(--color-text)
        svg
            color: var(--color-card-gold-btn)
    &-personal
        color: var(--color-card-text-black)
        background-color: var(--color-card-gold-bg)
        dd, h3
            color: var(--color-card-text-black)
        .value, .card-rating
            color: var(--color-silver-text)
        .btn
            color: var(--color-card-gold-btn)
        
    &-vip
        &.card
            color: var(--color-card-gold)
            background-color: var(--color-card-black)
            h3
                color: var(--color-card-gold)
            dd
                color: var(--color-white)
            .value
                color: var(--color-gold)
            a.btn
                background-color: var(--color-card-gold)
        &.modal-desc
            color: var(--color-gold)
            background-color: var(--color-card-black)
            h3
                color: var(--color-gold)
            dd
                color: var(--color-white)
            .value
                color: var(--color-gold)
        .card-price-old
            color: var(--color-card-silver-again)
    .btn
        width: 64%
    &.card-personal .btn
        color: var(--color-gold)
        background-color: var(--color-a-text-black)
        // border: 1px solid #1a1d34
        &:hover
            color: var(--color-a-text-black)
            background-color: var(--color-gold)
    .btn, a.btn
        @supports (aspect-ratio: 5 / 1)
            aspect-ratio: 5 / 1
        @supports not (aspect-ratio: 5 / 1)
            height: 55px
@media (min-width: 1600px)
    .tariff
        padding-top: 12.7vh
    .card
        padding: 5% 5px 6% 5px
        &-rating
            margin-bottom: 4vh
@media (min-width: 1200px)
    .card
        &-rating
            margin-bottom: 3vh
            svg
                width: 1.5vh
                height: 1.5vh
@media (min-width: 1024px)
    .tariff
        padding-top: 7vh
    .card
        position: relative
        width: 100%
        padding: 4% 20px
        transition: .3s
        user-select: none
        &-wrapper
            display: flex
            justify-content: center
            margin-left: auto
            margin-right: auto
            gap: 20px
            // min-width: 1000px
@media (max-width: 1199.98px)
    .card
        &-rating
            margin-bottom: 12px
@media (max-width: 1023px)
    .card
        max-width: 380px
        min-height: 470px
        padding: 39px 5px 50px 5px
@media (max-width: 1023.98px)
    .card
        .btn
            max-width: 300px

.solo .modal
    background-color: #EFF0F2
.personal .modal
    background-color: var(--color-card-gold-bg)
.vip .modal
    background-color: #171A27
.modal-wrapper.solo,
.modal-wrapper.vip,
.modal-wrapper.personal
    display: flex
    opacity: 1
    animation: slidein .5s ease 1
    animation-fill-mode: forwards
@keyframes slidein
    from
        opacity: 0
    to
        opacity: 1
.solo .modal-form.script-solo,
.personal .modal-form.script-personal,
.vip .modal-form.script-vip
    display: block

.svg-star
    display: none
.solo .svg-star.svg-solo,
.personal .svg-star.svg-personal,
.vip .svg-star.svg-vip
    display: block

.modal
    position: relative
    display: flex
    flex-direction: column
    padding: 52px 40px 75px
    &-wrapper
        position: fixed
        top: 0
        left: 0
        display: none
        opacity: 0
        transition: opacity .5s
        justify-content: center
        align-items: center
        width: 100vw
        height: 100vh
        color: var(--color-text-black)
        backdrop-filter: blur(9px)
        z-index: 100
        h3, .value
            font-family: 'Oswald', sans-serif
            font-size: max(2.4vw, 47px)
            font-weight: 400
            line-height: 1.2
            margin-bottom: 3vh
            color: var(--color-title)
            span
                color: var(--color-card-gold-btn)
        h4
            color: var(--color-modal-black-label-text)
        li
            color: var(--color-modal-black-desc)
            span
                color: var(--color-modal-gold-li)
        p
            color: var(--color-modal-black-label-text)
            &.value
                color: var(--color-modal-black-label-lead)
        .modal
            max-width: none
        .card-vip p
            color: var(--color-white)
        &.solo
            background: #EFF0F240
            svg
                color: var(--color-card-gold-btn)
            .modal-offer span
                color: var(--color-card-gold-lead)
        &.personal
            color: var(--color-card-text-black)
            background: var(--color-gold-tr)
            .modal
                color: var(--color-card-text-black)
                &-offer
                    color: var(--color-modal-black-label-lead)
                    span
                        color: var(--color-white)
            .value
                color: var(--color-white)
            p
                color: var(--color-card-text-black)
            h3
                color: var(--color-card-text-black)
            h4
                color: var(--color-title)
        &.vip
            background: var(--color-card-black)
            .modal-rate, .modal-offer
                color: #ffffff
            .card-price-old
                color: var(--color-modal-silver)
            h4
                color: var(--color-title)
    &-inner
        ul, li
            margin-left: 0
            padding-left: 0
            list-style-type: none
    &-text
        display: none
    &-desc
        display: flex
        flex-direction: column
        align-items: center
        flex: 1 1 50%
        text-align: center
        user-select: none
        p
            white-space: pre-line
    &-part
        margin-bottom: 0px
    &-rate
        line-height: 1.4
        margin-bottom: 10px
        p
            margin-bottom: 0
    &-form
        display: none
        flex: 1 1 50%
    &-offer
    &-close
        position: absolute
        top: 20px
        right: 20px
        display: flex
        justify-content: center
        align-items: center
        width: 30px
        height: 30px
        cursor: pointer
        z-index: 101
        svg
            width: 20px
            height: 20px
            color: #666666
@media (max-width: 1023.98px) and (min-width: 590px) and (orientation: landscape)
    .modal
        flex-direction: row
        gap: 20px
        padding: 52px 40px 75px
@media (min-width: 1024px)
    .modal
        min-width: 320px
        margin-top: -15px
        margin-bottom: -15px
        margin-right: 15px
        flex-basis: 3 0 40%
        h3
            font-size: max(1.4vw, 38px)
        &-wrapper
            .mobile
                display: none
            &.solo .modal-solo,
            &.personal .modal-personal,
            &.vip .modal-vip
                display: flex
        &-inner
            position: relative
            display: flex
            gap: 20px
            max-width: 79%
            padding-left: 7vw
            background-color: #fff
        &-text
            display: none
            flex-direction: column
            justify-content: center
            flex: 1 1 55%
        &-rate
            font-size: max(1vw, 20px)
        .card
            &-rating
                margin-bottom: 2vh
        &-close
            top: -15px
            right: -40px
        &-offer
            text-align: center
            margin-top: 2vh
            span
                color: var(--color-gold)
@media (max-width: 1023.98px)
    .modal
        h3
            font-size: 32px
        &-wrapper
            .desktop
                display: none
@media (max-width: 1023.98px)
    .modal-wrapper
        &.solo
            background-color: var(--color-card-silver)
        &.personal
            background-color: var(--color-card-gold-bg)
        &.vip
            background-color: var(--color-card-black)
@media (max-width: 767.98px) and (orientation: landscape)
    .modal
        align-items: center
.modal-form
    button
        font-family: Oswald,sans-serif !important
        font-size: max(1.27vw,25px) !important
        font-weight: 400 !important
        color: var(--color-modal-black-label-text) !important
        background-color: var(--color-gold) !important
    a
        color: #003399 !important
        text-decoration: underline !important
    .strwf__input-wrapper
        margin-bottom: 7px !important
    input[type=checkbox]
        width: 20px !important
        height: 20px !important
        color: #000 !important
        background-color: #fff !important
    input[type=checkbox]:checked
        color: #fff !important
        background-color: #000 !important
    input, label
        font-family: 'Open Sans', sans-serif !important
        font-size: 16px !important
        font-weight: 300 !important
        letter-spacing: 0.05em !important
    &.script
        &-solo
            form, input, section
                background-color: var(--color-card-silver) !important
            input, section
                color: var(--color-modal-black-input) !important
                border-color: var(--color-modal-black-desc) !important
            label
                color: var(--color-modal-black-label-text) !important
            button
                background-color: var(--color-card-gold-bg) !important
        &-personal
            form, input, section
                background-color: var(--color-card-gold-bg) !important
            input
                color: var(--color-card-text-black) !important
                border-color: var(--color-modal-black-desc) !important
            button
                color: var(--color-gold)  !important
                background-color: var(--color-modal-black-submit-bg) !important
            label
                color: var(--color-card-text-black) !important
        &-vip
            form, input, section, select, label
                color: #ffffff !important
                background-color: #171A27 !important
            input
                border-color: #FFFFFF !important
            button
                color: var(--color-modal-black-submit) !important
@media (min-width: 1024px)
    .modal-form
        button
            padding: 0 !important
            @supports (aspect-ratio: 5 / 1)
                aspect-ratio: 5 / 1
            @supports not (aspect-ratio: 5 / 1)
                height: 55px
        input, label
            font-size: max(0.82vw, 15.5px) !important
